asgiref==3.5.0
Django==4.0.3
django-environ==0.8.1
django-rest-passwordreset==1.2.1
djangorestframework==3.13.1
djangorestframework-simplejwt==5.1.0
flake8==4.0.1
isort==5.10.1
mccabe==0.6.1
pep8==1.7.1
pycodestyle==2.8.0
pyflakes==2.4.0
PyJWT==2.3.0
pytz==2021.3
rest-api-payload==0.0.4
sqlparse==0.4.2
